body {
 margin: 0;
 padding: 0;
 text-align: center;
 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
table {
	display: inline-block;
}

.frontpage{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.needhdr {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.needttl {
	background-color: rgba(2,157,193,1.00);
}
.tblhdr {
	font-weight: bold;
}

.tableCol{
	vertical-align: top;
	display: inline-block;
	min-width: 170px;
	border: 2px solid #ddd;
	margin-left: auto;
	margin-right: auto;
}
.tdForm{
	border: 2px solid #e1eaed;
	margin-left: auto;
	margin-right: auto;
}
.title{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.category{
	text-align: left;
	font-family: arial;
	font-size: 14px;
}